<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="LOGS_ABSOLUTE_PATH" value="./log"/> <!-- 로그 파일 위치 -->
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS, GMT+9}][%thread][%-5level]\(%F:%L\): %msg%n"/> <!-- 로그 출력 패턴 -->

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern> <!-- 로그 출력 패턴 -->
        </encoder>
    </appender>

<!--    &lt;!&ndash; 파일 출력 &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> &lt;!&ndash; RollingFileAppender 사용 &ndash;&gt;-->
<!--        <file>${LOGS_ABSOLUTE_PATH}/application.log</file> &lt;!&ndash; 파일 경로 및 파일 이름 &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern> &lt;!&ndash; 로그 출력 패턴 &ndash;&gt;-->
<!--        </encoder>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> &lt;!&ndash; 시간으로 파일 분할 정책 &ndash;&gt;-->
<!--            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern> &lt;!&ndash; 분할 파일 이름 패턴 &ndash;&gt;-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>100MB</maxFileSize> &lt;!&ndash; 분할 파일 크기 기준 &ndash;&gt;-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--            <maxHistory>100</maxHistory> &lt;!&ndash; 분할된 파일의 최대 개수 &ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

    <!-- 로그 출력 기준 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>